<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Actions</th>

        </tr>

    </thead>

    <tbody>

        <tr th:each="student : ${students}">

            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phone}"></td>
            <td th:text="${student.address}"></td>
            <td th:text="${student.gender}"></td>

            <td>

                <a href="#" class="btn btn-info btn-sm">
                    View
                </a>

                <a th:href="@{/students/edit/{id}(id=${student.id})}"
   					class="btn btn-warning btn-sm">
   									 Edit
							</a>

                <a href="#" class="btn btn-danger btn-sm">
                    Delete
                </a>

            </td>

        </tr>

    </tbody>

</table>